#menu {
  width: 100%;
  height:50px;
  background-color: rgb(69,61,52);
  margin:0px;
  display: table;
  box-shadow: 0px 2px 8px #888888;
  right:0;
}

#menu.sticky {
  position: fixed;
  top:0;
}

ul{
  float:right;
}

li {
  display:inline;
  line-height: 100%;
  padding: 16px 10px;
}

li:hover{
  background-color: rgb(39,26,19);
-webkit-transition: background-color 1000ms ease-out; /* Safari and Chrome */
-moz-transition: background-color 1000ms ease-out; /* Firefox */
-o-transition: background-color 1000ms ease-out;/* Opera */
-ms-transition: background-color 1000ms ease-out; /* IE 9 */
transition: background-color 1000ms ease-out;
}


img.twit:hover{
  transform:scale(0.8);
     -ms-transform:scale(0.8) 1000ms ease-out; /* IE 9 */
     -moz-transform:scale(0.8) 1000ms ease-out; /* Firefox */
     -webkit-transform:scale(0.8) 1000ms ease-out; /* Safari and Chrome */
     -o-transform:scale(0.8) 1000ms ease-out; /* Opera */
     transition: 1000ms ease-out;
}

@font-face {
  font-family: "osl";
  src: url("https://cbrieuc.github.io/fonts/osl.ttf");
}

@font-face {
  font-family: "jsor";
  src: url("https://cbrieuc.github.io/fonts/osb.ttf");
}

@font-face {
  font-family: "kor";
  src: url("https://cbrieuc.github.io/fonts/kor.ttf");
}

@font-face {
  font-family: "sb";
  src: url("https://cbrieuc.github.io/fonts/sb.ttf");
}

@font-face {
  font-family: "sr";
  src: url("https://cbrieuc.github.io/fonts/sr.ttf");
}

#banner{
background-color:rgb(247, 239, 226);
height: 150px;
color:rgb(69,61,52);
text-align: left;
display:table;
width:100%;
max-width:4250px;
}


h1 {
  font-family: "osl";
  color:white;
  font-size: 16px;
  vertical-align: middle;
  display:table-cell;
}


#banntext{
  display: table-cell;
  vertical-align: middle;
  opacity: 0.8;
  font-size: 46px;
  text-align: left;
}


.headerlink {
  color: white;
  display: inline-block;
  text-decoration: none;
  z-index: 1;
  padding: 16px 10px;
  margin: -16px -10px;
}



body {
  background-image: url("https://cbrieuc.github.io/image/onpriver.png");
  background-size: 100%;
  background-attachment: fixed;
  margin:0px;
}

#corps {
    text-align: center;
    font-family:"osl";
    color:rgb(39,26,19);
    font-size: 18px;
}

div.contentblock {
  background-color:white;
  margin-left:100px;
  margin-top:50px;
  margin-right:100px;
  margin-bottom:100px;
}
