#header {
  width: 100%;
  height:50px;
  background-color: rgb(60,60,60);
  display:table;
}

h1 {
  font-family: "osl";
  color:white;
  font-size: 18px;
  text-align: right;
  vertical-align: middle;
  display:table-cell;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color:blue
}

@fontface {
  font-family: osl;
  src: url("osl.ttf");
}
