#header {
  width: 100%;
  height:50px;
  background-color: rgb(60,60,60);
  display:table;
}

@font-face {
  font-family: "osl";
  src: url("https://cbrieuc.github.io/fonts/osl.ttf");
}

h1 {
  font-family: "osl";
  color:white;
  font-size: 18px;
  text-align: right;
  vertical-align: middle;
  display:table-cell;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color:rgb(169,240,115);
}
